<!--=================================
inner banner -->
<div class="header-inner bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-primary">404 Error</h2>
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>404 Error</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
  inner banner -->
  
  <!--=================================
  404 error -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img class="img-fluid" src="assets/images/error-img.png" alt="">
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 text-center">
          <div id="notfound">
            <div class="notfound">
              <div class="notfound-404">
                <h1>Oops!</h1>
              </div>
              <h2>404 - Page not found</h2>
              <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
              <a class="btn btn-primary" [routerLink]="['/']">Go To Homepage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  404 error -->
  
  <!--=================================
  feature info section -->
  <section class="feature-info-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="feature-info feature-info-02 p-4 p-lg-5 bg-primary">
            <div class="feature-info-icon mb-3 mb-sm-0 text-dark">
              <i class="flaticon-team"></i>
            </div>
            <div class="feature-info-content text-white ps-sm-4 ps-0">
              <p>Jobseeker</p>
              <h5 class="text-white">Looking For Job?</h5>
            </div>
            <a class="ms-auto align-self-center" href="#">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-info feature-info-02 p-4 p-lg-5 bg-dark">
            <div class="feature-info-icon mb-3 mb-sm-0 text-primary">
              <i class="flaticon-job-3"></i>
            </div>
            <div class="feature-info-content text-white ps-sm-4 ps-0">
              <p>Recruiter</p>
              <h5 class="text-white">Are You Recruiting?</h5>
            </div>
            <a class="ms-auto align-self-center" href="#">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  feature info section -->
  