.card-header {
    align-items: center;
    margin-right: 30%;
    margin-top: 10%;
}

h3 {
    font-size: 50px;
}

.card-title {
    margin-left: 50%;
}

.form-horizontal {
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}

button {
    width: 82%;
}