<!-- ======= Header ======= -->

<header id="header" class="fixed-top d-flex align-items-center">
  <nav id="navbar" class="navbar">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 class="text-light">
          <a href=""><span>labetee</span></a>
        </h1>
      </div>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="/talent">Find Talent</a></li>
        <li>
          <a class="nav-link scrollto" href="/whlabete">Why Labetee</a>
        </li>
        <li><a class="nav-link scrollto" href="member">Bemember</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>

      <!-- .navbar -->
    </div>
  </nav>
</header>

<!-- End Header -->
