/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/**
* Mobile Navigation 
*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #212529;
}

a {
    color: #eb5d1e;
    text-decoration: none;

    &:hover {
        color: #ef7f4d;
        text-decoration: none;
    }
}

h1 {
    font-family: "Raleway", sans-serif;
}

h2 {
    font-family: "Raleway", sans-serif;
}

h3 {
    font-family: "Raleway", sans-serif;
}

h4 {
    font-family: "Raleway", sans-serif;
}

h5 {
    font-family: "Raleway", sans-serif;
}

h6 {
    font-family: "Raleway", sans-serif;
}

.font-primary {
    font-family: "Raleway", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #eb5d1e;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;

    i {
        font-size: 24px;

        line-height: 0;
    }

    &:hover {
        background: #ee7843;

    }
}


.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
    padding: 10px;
    margin-bottom: 5px;


    .logo {
        h1 {
            font-size: 30px;
            line-height: 1;
            font-weight: 400;
            letter-spacing: 2px;
            font-weight: bold;


            a {
                color: #7a6960;
                text-decoration: none;

                &:hover {
                    color: #7a6960;
                    text-decoration: none;
                }
            }
        }

        img {
            padding: 0;
            margin: 0;
            max-height: 40px;
        }
    }
}

nav {
    padding: 10px;
    width: 100%;
    margin: 0;



}

#main {
    margin-top: 72px;
}


ul {

    display: flex;
    list-style: none;


}

li {
    position: relative;


    a {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 15px;
        color: #4e4039;
        white-space: nowrap;
        transition: 0.3s;

        &:focus {
            display: flex;
            justify-content: space-between;
            padding: 10px 0 10px 30px;
            font-size: 15px;
            color: #4e4039;
            white-space: nowrap;
            transition: 0.3s;

            i {
                font-size: 12px;


            }
        }


        &:hover {
            color: #eb5d1e;
        }
    }

    .active {
        color: #eb5d1e;

        &:focus {
            color: #eb5d1e;
        }
    }

}