#hero {
  width: 100%;
  height: 70vh;
  background: #fef8f5;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #4e4039;
}

#hero h2 {
  color: #a08f86;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #eb5d1e;
}

#hero .btn-get-started:hover {
  background: #ef7f4d;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 120vh;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fef8f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #c2b7b1;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #4e4039;
}

.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }

      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }
    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba(78, 64, 57, 0.6);
      text-align: center;

      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;

        &:hover {
          color: #eb5d1e;
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }
  }
}